
<div class="container theme-showcase" role="main">


  <div class="page-header">
    <h1><%= @user.name %> <span class="badge"><%= @user.tweets.count + @user.retweets.count %> tweets</span></h1>

    <% if session[:user_id] == @user.id %>
    <div class="btn-group" role="group" aria-label="Basic example">
    <a href="/users/<%=@user.id%>/followers" class="btn btn-  secondary btn-lg active" role="button">View Followers</a>

    <a href="/users/<%=@user.id%>/following" class="btn btn-  secondary btn-lg active" role="button">You're following...</a>

    <a href="/users/<%=@user.id%>/tweets/new" class="btn btn- secondary btn-lg active" role="button">Make a new Post</a>

    <a href="/users/<%=@user.id%>/following/new" class="btn btn-  secondary btn-lg active" role="button">Discover a new tweeter!</a>
    </div>

  <% else %>

<form action="/users/<%=@user.id%>/followers/<%=@user.id%>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type="submit" class="btn btn- secondary btn-lg active"value="Follow!">
</form>
  <% end %>



  </div>

  <% @user.tweets.each do |tweet| %>
    <div class="well">
      <h4><%= tweet.post %></h4>

    </div>
    <p style="text-align: right;">
<!--   <button type="button" class="btn btn-xs btn-info">Date</button>
      <button type="button" class="btn btn-xs btn-primary">Primary</button>
      <button type="button" class="btn btn-xs btn-success">Success</button> -->
      <button type="button" style="text-align: right;" class="btn btn-xs btn-success">Posted on: <%= tweet.created_at %></button>
      <button type="button" class="btn btn-xs btn-warning">Tweet id: <%= tweet.id %></button>

<!--       <button type="button" class="btn btn-xs btn-danger">Danger</button>
      <button type="button" class="btn btn-xs btn-link">Link</button> -->
    </p>


    <% unless session[:user_id] == @user.id %>
      <a href="/users/<%= @user.id %>/retweets/<%= tweet.id %>/new">Retweet</a>
    <% end %>

    <hr style ="border: 1px dotted #cccccc; margin-top: 40px; margin-bottom: 40px; width: 100%;">
  <% end %>


  <% @user.retweets.each do |retweet| %>
    <div class="col-md-12" style="text-align: right;">
    </div>
    <div class="well">
      <h4><%= Tweet.find(retweet.tweet_id).post %></h4>
      </div>
    <p style="text-align: right;">
<!--   <button type="button" class="btn btn-xs btn-info">Date</button>
      <button type="button" class="btn btn-xs btn-primary">Primary</button>
      <button type="button" class="btn btn-xs btn-success">Success</button> -->
      <button type="button" style="text-align: right;" class="btn btn-xs btn-success">Posted on: <%= retweet.created_at %></button>
      <button type="button" class="btn btn-xs btn-warning">retweet id: <%= retweet.id %></button>
      <button type="button" class="btn btn-xs btn-info">Retweet</button>

<!--       <button type="button" class="btn btn-xs btn-danger">Danger</button>
      <button type="button" class="btn btn-xs btn-link">Link</button> -->
    </p>
  <% end %>

  </div> <!-- /container -->

